<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fivestar.starnotes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/logonew"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>

        <!-- Other Activitys -->
        <activity
            android:name=".ShowNoteActivity"
            android:label="@string/label_display_note"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NewNoteActivity"
            android:label="@string/label_new_note"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditNoteActivity"
            android:label="@string/label_edit_note"
            android:theme="@style/AppTheme" />

        <!-- Search Activity -->
        <activity
            android:name=".SearchNotes"
            android:label="@string/label_search" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!-- Needed to make the Search work! -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchNotes" />

        <activity
            android:name=".NewRecordingActivity"
            android:label="@string/title_activity_new_recording"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>